//- This file is a shortcut to make things a little easier.
//- There's no need to extend the global _layout file in other views for this
//- module because this _wrapper file does that.
extends ../../../views/index.html

block pageContent
    block content