extends index.html

block pageContent
    h1 Data
    h3 Current data:
    ul
        each val in data
            li= val.name 
                span.age-info
                    sub 
                        em #{val.age} 
                        span years old